@{
    ViewData["Title"] = @Localizer["About"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
    
    <section id="abt_sec" style="padding:120px 0;">
        @*<style type="text/css">
                #abt_sec {
                    padding: 120px 0;
                }
            </style>
        *@
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                    <div class="title_sec">
                        <h1>@Localizer["About"]</h1>
                        <h2>WE’RE BRANDING & DIGITAL STUDIO FROM VIET NAM</h2>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                    <div class="abt">
                        <p>The main value of Kcell Solutions is our team. Working with us, you should have an excellent opportunity to improve yourself professionally and grow up the career ladder.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->
    <!-- start Counting section-->
    <section id="counting_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="counting_sl">
                        <i class="fa fa-user"></i>
                        <h2 class="counter">43,753</h2>
                        <h4>Happy Clients</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="counting_sl">
                        <i class="fa fa-desktop"></i>
                        <h2 class="counter">20,210</h2>
                        <h4>Complete Project</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="counting_sl">
                        <i class="fa fa-ticket"></i>
                        <h2 class="counter">43,753</h2>
                        <h4>Answered Tickets</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="counting_sl">
                        <i class="fa fa-clock-o"></i>
                        <h2 class="counter">45,105</h2>
                        <h4>Development Hours</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- start progress bar Section -->
    <section id="skill_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                    <div class="title_sec">
                        <h1>@Localizer["Our_skill_diagram"]</h1>
                        <h2>WE’RE BRANDING & DIGITAL STUDIO FROM VIET NAM</h2>
                    </div>
                </div>
                <div class="skills progress-bar1">
                    <ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">
                        <li class="progress">
                            <div class="progress-bar" data-width="85">
                                Wordpress 85%
                            </div>
                        </li>
                        <li class="progress">
                            <div class="progress-bar" data-width="65">
                                Graphic Design 65%
                            </div>
                        </li>
                        <li class="progress">
                            <div class="progress-bar" data-width="90">
                                HTML/CSS Design 90%
                            </div>
                        </li>
                        <li class="progress">
                            <div class="progress-bar" data-width="60">
                                SEO 60%
                            </div>
                        </li>
                    </ul>
                    <ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight">
                        <li class="progress">
                            <div class="progress-bar" data-width="75">
                                Agencying 75%
                            </div>
                        </li>
                        <li class="progress">
                            <div class="progress-bar" data-width="95">
                                App Development 95%
                            </div>
                        </li>
                        <li class="progress">
                            <div class="progress-bar" data-width="70">
                                IT Consultency 70%
                            </div>
                        </li>
                        <li class="progress">
                            <div class="progress-bar" data-width="90">
                                Theme Development 90%
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <!-- End progress bar Section -->
    <!-- start portfolio Section -->
    <section id="protfolio_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
                    <div class="title_sec">
                        <h1>@Localizer["Our_portfolio"]</h1>
                        <h2>WE’RE BRANDING & DIGITAL STUDIO FROM VIET NAM</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="portfolio-filter text-uppercase text-center">
                        <ul class="filter">
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".web-design">Web Design</li>
                            <li data-filter=".graphic">Graphic</li>
                            <li data-filter=".photography">Photography</li>
                            <li data-filter=".motion-video">Motion video</li>
                        </ul>
                    </div>
                    <div class="all-portfolios">
                        <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                            <div class="single-portfolio web-design">
                                <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_06.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                            <div class="single-portfolio web-design">
                                <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_01.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                            <div class="single-portfolio web-design">
                                <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_02.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                            <div class="single-portfolio graphic">
                                <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_03.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                            <div class="single-portfolio web-design">
                                <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_04.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                            <div class="single-portfolio photography">
                                <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_05.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                            <div class="single-portfolio web-design">
                                <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_07.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                            <div class="single-portfolio web-design">
                                <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_08.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                            <div class="single-portfolio photography">
                                <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_08.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                            <div class="single-portfolio web-design">
                                <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_08.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                            <div class="single-portfolio web-design">
                                <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_09.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                            <div class="single-portfolio photography">
                                <img class="img-responsive" src="http://showwp.com/demos/porton/default/upload/p_08.jpg" alt="">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="post_btn">
                    <div class="hover_effect_btn" id="hover_effect_btn">
                        <a href="#hover_effect_btn" data-hover="view more post"><span>view more post</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Portfolio Section -->