
@{
    ViewData["Title"] = "Трекинг Автотранспорта";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BREADCRUMBS -->
<section class="breadcrumbs_block clearfix parallax">
    <div class="container center">
        <h2><b>Трекинг Автотранспорта</b></h2>
        <p>Прагматичные IT решения для вашего бизнеса</p>
    </div>
</section><!-- //BREADCRUMBS -->
<!-- ABOUT -->
<section id="about">
    <!-- SERVICES -->
    <div class="services_block padbot40" data-appear-top-offset="-200" data-animated="fadeInUp">
        <!-- CONTAINER -->
        <div class="container">
            <!-- ROW -->
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);">
                        <p><b>Технология спутникового мониторинга</b></p>
                        <span>Возможность подключения различных датчиков. Реальный инструмент снижения эксплуатационных затрат</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);">
                        <p><b>Bus Report</b></p>
                        <span>Отраслевое решение для диспетчеризации пассажирского транспорта. Автоматически формирует множество специализированных отчетов</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);">
                        <p><b>Info Bus</b></p>
                        <span>Онлайн сервис для пассажиров городского транспорта. Данные о передвижении транспорта, остановках, маршрутах. Поиск маршрутов для передвижения из одной точки города в другую</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);">
                        <p><b>Облачное видеонаблюдение</b></p>
                        <span>Современная технология, которая позволяет не только хранить видеозаписи в видеорегистраторе, но и получить удаленный доступ удаленный доступ к камерам и архивам через смартфон или планшет</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);">
                        <p><b>Tire Pressure</b></p>
                        <span>Централизированный контроль давления в шинах. Все данные от датчиков накапливаются на едином сервере. Контроль всего парка на одном мониторе.</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);">
                        <p><b>Wialon Logistic</b></p>
                        <span>Простой и удобный логистический инструмент приема, распределения и контроля выполнения заказов на транспортные услуги. Оптимизация маршрутов и загрузки транспорта. Снижение эксплуатационных затрат.</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);">
                        <p><b>Умная остановка</b></p>
                        <span>Информирует о маршрутах, проходящих через нее и о времени прибытия транспорта. В отличие от обычных печатных расписаний движения, публикуемые данные оперативно обновляются.</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);">
                        <p><b>Пассажиропоток</b></p>
                        <span>Подсчет количества входящих и выходящих пассажиров с помощью специальных датчиков, монтируемых над входом в транспорт. Данные выдаются в отчетах с привязкой к транспорту, маршруту и остановке</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
                </div>
            </div><!-- //ROW -->
        </div><!-- //CONTAINER -->
    </div><!-- //SERVICES -->
</section><!-- //ABOUT -->

