
@{
    ViewData["Title"] = @Localizer["Career"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
<!-- BREADCRUMBS -->
<section class="breadcrumbs_block clearfix parallax">
    <div class="container center">
        <h2><b>Карьера</b></h2>
        <p>Прагматичные IT решения для вашего бизнеса</p>
    </div>
</section><!-- //BREADCRUMBS -->
<!-- ABOUT -->
<section id="about">
    <!-- Promo Section -->
    <div class="promo-section overflow-h">
        <div class="container">
            <div class="clearfix" style="margin-top:30px;">
                <div class="col-md-12 col-md-offset-0 col-sm-12 ">
                    <div class="text-center">
                        <h3 class="color-red">Нашей команде нужны Ваши навыки</h3>
                        <hr />

                        <p style="text-indent:0;font-size:16px;" class="fweight-400 col-md-10 col-md-offset-1">
                            Политика DSL Caspian заключается в том, чтобы сфокусироваться на найме местного казахстанского инженерного, управленческого и высоко-профессионального персонала. Наша нацеленность на развитие и рост компании заключается в привлечении, обучении и развитии местного персонала, используя следующие стратегии:
                        </p>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1 wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="200ms">

                        <p style="text-indent:0;">
                            <ul>
                                <li style="color:red;"><span style="font-size:15px;color: #585858 !important;">Увеличение найма граждан РК в DSL Caspian</span></li>
                                <li style="color:red;"><span style="font-size:15px;color: #585858 !important;">Активное вовлечение квалифицированных и опытных локальных сотрудников </span></li>
                                <li style="color:red;"><span style="font-size:15px;color: #585858 !important;">Взращивать собственный персонал посредством непрерывного обучения и наставничества, а также, при необходимости, организуя специальные курсы обучения за рубежом. </span></li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-sm-5 wow fadeInRight animated" data-wow-duration="1000ms" data-wow-delay="200ms">

                        <p style="text-indent:0;">
                            <ul>
                                <li style="color:red;"><span style="font-size:15px;color: #585858 !important;">Сотрудничество с местными учебными заведениями, чтобы нанимать квалифицированных выпускников. </span></li>
                                <li style="color:red;"><span style="font-size:15px;color: #585858 !important;">Совместно работать с нашими Клиентами, чтобы организовать обучение своих специалистов, уже задействованных на объектах клиентов. </span></li>
                                <li style="color:red;"><span style="font-size:15px;color: #585858 !important;">Предоставлять средства и ресурсы для обучения и обучения местных кадров </span></li>
                                <!-- <li style="color:red;"><span style="font-size:15px;color: #585858 !important;">NACE & BGAS Certified QC Inspectors. NACE CIP Level 3 – 1; NACE CIP Level 2 – 3;  NACE CIP Level 1 – 4; BGAS Level 2 – 1; </span></li>
                                -->
                            </ul>
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="content-lg container">
            <div class="row margin-b-40">
                <div class="col-sm-12">
                    <h3 class="color-red text-center">Вакансии </h3>
                    <hr />
                </div>
            </div>
            <!--// end row -->

            <div class="row">
                <!-- vacancy 1 -->
                <div class="col-sm-4 sm-margin-b-50 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="200ms">
                    <div class="margin-b-20">

                        <!-- Latest Products -->
                        <!-- Trigger the modal with a button -->
                        <a href="*" data-toggle="modal" data-target="#vac1">
                            <img src="~/images/avatar1.jpg" class="img-responsive" alt="..." />
                            <h3 class="color-red" style="margin-top:20px;">Старший инженер<span class="text-uppercase span-fx margin-l-20 color-blue" style="font-size:13px;">Строительные леса </span></h3>
                            <hr />

                        </a>
                    </div>
                </div>
                <!-- End vacancy1 -->
                <!-- vacancy2 -->
                <div class="col-sm-4 sm-margin-b-50 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="margin-b-20">

                        <!-- Latest Products -->
                        <!-- Trigger the modal with a button -->
                        <a href="*" data-toggle="modal" data-target="#vac2">
                            <img src="~/images/avatar2.jpg" class="img-responsive" alt="..." />
                            <h3 class="color-red" style="margin-top:20px;">Специалист по изоляции<span class="text-uppercase span-fx margin-l-20 color-blue" style="font-size:13px;">Изоляция</span></h3>
                            <hr />

                        </a>
                    </div>
                </div>
                <!-- End Latest Products -->
                <!-- End vacancy2 -->
                <!-- vacancy3 -->
                <div class="col-sm-4 sm-margin-b-50 wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="1000ms">
                    <div class="margin-b-20">

                        <!-- Latest Products -->
                        <!-- Trigger the modal with a button -->
                        <a href="*" data-toggle="modal" data-target="#vac3">
                            <img src="~/images/avatar1.jpg" class="img-responsive" alt="..." />
                            <h3 class="color-red" style="margin-top:20px;">Специалист по промышленному альпинизму<span class="text-uppercase margin-l-20 span-fx color-blue" style="font-size:13px;">Промышленный Альпинизм</span></h3>
                            <hr />

                            <!-- Modal -->
                        </a>
                    </div>
                    <!-- End Latest Products -->
                    <!-- End vacancy3 -->

</section><!-- //ABOUT -->

<!-- ABOUT -->
<section id="about">

    <!-- PROJECTS -->
    <section id="projects" class="padbot20">
        <!-- CONTAINER -->
        <div class="container">
            <h2><b>Наши</b> Проекты</h2>
        </div><!-- //CONTAINER -->

        <div class="projects-wrapper" data-appear-top-offset="-200" data-animated="fadeInUp">
            <!-- PROJECTS SLIDER -->
            <div class="owl-demo owl-carousel projects_slider">
                <!-- work1 -->
                <div class="item">
                    <div class="work_item">
                        <div class="work_img">
                            <img src="~/images/works/1.jpg" alt="" />
                            <a class="zoom" href="~/images/works/1.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="work_description">
                            <div class="work_descr_cont">
                                <a href="portfolio-post.html">Ginger Beast</a>
                                <span>17 March, 2041</span>
                            </div>
                        </div>
                    </div>
                </div><!-- //work1 -->
                <!-- work2 -->
                <div class="item">
                    <div class="work_item">
                        <div class="work_img">
                            <img src="~/images/works/2.jpg" alt="" />
                            <a class="zoom" href="~/images/works/2.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="work_description">
                            <div class="work_descr_cont">
                                <a href="portfolio-post.html">Ginger Beast</a>
                                <span>17 March, 2041</span>
                            </div>
                        </div>
                    </div>
                </div><!-- //work2 -->
                <!-- work3 -->
                <div class="item">
                    <div class="work_item">
                        <div class="work_img">
                            <img src="~/images/works/3.jpg" alt="" />
                            <a class="zoom" href="~/images/works/3.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="work_description">
                            <div class="work_descr_cont">
                                <a href="portfolio-post.html">Ginger Beast</a>
                                <span>17 March, 2041</span>
                            </div>
                        </div>
                    </div>
                </div><!-- //work3 -->
                <!-- work4 -->
                <div class="item">
                    <div class="work_item">
                        <div class="work_img">
                            <img src="~/images/works/4.jpg" alt="" />
                            <a class="zoom" href="~/images/works/4.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="work_description">
                            <div class="work_descr_cont">
                                <a href="portfolio-post.html">Ginger Beast</a>
                                <span>17 March, 2041</span>
                            </div>
                        </div>
                    </div>
                </div><!-- //work4 -->
                <!-- work5 -->
                <div class="item">
                    <div class="work_item">
                        <div class="work_img">
                            <img src="~/images/works/5.jpg" alt="" />
                            <a class="zoom" href="~/images/works/5.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="work_description">
                            <div class="work_descr_cont">
                                <a href="portfolio-post.html">Ginger Beast</a>
                                <span>17 March, 2041</span>
                            </div>
                        </div>
                    </div>
                </div><!-- //work5 -->
                <!-- work6 -->
                <div class="item">
                    <div class="work_item">
                        <div class="work_img">
                            <img src="~/images/works/6.jpg" alt="" />
                            <a class="zoom" href="~/images/works/6.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="work_description">
                            <div class="work_descr_cont">
                                <a href="portfolio-post.html">Ginger Beast</a>
                                <span>17 March, 2041</span>
                            </div>
                        </div>
                    </div>
                </div><!-- //work6 -->
                <!-- work7 -->
                <div class="item">
                    <div class="work_item">
                        <div class="work_img">
                            <img src="~/images/works/7.jpg" alt="" />
                            <a class="zoom" href="~/images/works/7.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="work_description">
                            <div class="work_descr_cont">
                                <a href="portfolio-post.html">Ginger Beast</a>
                                <span>17 March, 2041</span>
                            </div>
                        </div>
                    </div>
                </div><!-- //work7 -->
            </div><!-- //PROJECTS SLIDER -->
        </div>

        <!-- OUR CLIENTS -->
        <div class="our_clients">
            <!-- CONTAINER -->
            <div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">
                <!-- ROW -->
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                        <img src="~/images/clients/1.jpg" alt="" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                        <img src="~/images/clients/2.jpg" alt="" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                        <img src="~/images/clients/3.jpg" alt="" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                        <img src="~/images/clients/4.jpg" alt="" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                        <img src="~/images/clients/5.jpg" alt="" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                        <img src="~/images/clients/6.jpg" alt="" />
                    </div>
                </div><!-- //ROW -->
            </div><!-- CONTAINER -->
        </div><!-- //OUR CLIENTS -->
    </section><!-- //PROJECTS -->
</section><!-- //ABOUT -->
