
@{
    ViewData["Title"] = @Localizer["Contacts"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model KCell_Solutions.ViewModels.ProductViewModel



<!-- ABOUT -->
<section id="map2">

    <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569" width="600" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div id="content">
        <div class="container">
            <div class="big-title text-center">
                <h1><span class="accent-color"> Contact Us</span><strong></strong></h1>
                <p class="title-desc">We are modern and rapidly developing company that always looking for new collaborations and partnerships.</p>
            </div>
            <div class="hr5" style="margin-top:30px; margin-bottom:35px;"></div>
            <div class="row">
                <div class="col-md-8">
                    <form action="/en/Home/SendMessage" enctype="multipart/form-data" method="post">
                        <input name="__RequestVerificationToken" type="hidden" value="_1DYhaDfp_cyiwAEVZ8nJnGmi-o_go2eo2XFWdiCCnKy93L_VabsQ9M1uYHSiNR8b5E9O9bVlfpHva16SWfa0w3nryw2-aUm9GZFdrIvIX81" />                    <h4 class="classic-title"><span>Contact Us</span></h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Full name<span class="required">*</span></label>
                                    <span class="name-missing">Please enter your name</span>
                                    <input class="form-control" data-val="true" data-val-required="Please enter your name" id="FromName" name="FromName" type="text" value="" />
                                    <span class="field-validation-valid" data-valmsg-for="FromName" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="e-mail">Email<span class="required">*</span></label>
                                    <span class="email-missing">Please enter a valid e-mail</span>
                                    <input class="form-control" data-val="true" data-val-email="Incorrect format" data-val-required="Please enter a valid e-mail" id="FromEmail" name="FromEmail" type="text" value="" />
                                    <span class="field-validation-valid" data-valmsg-for="FromEmail" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px">
                            <div class="col-md-12">
                                <div class="form-group userMessage">
                                    <label for="message">Tell us about yourself</label>
                                    <span class="message-missing">Submit your application</span>
                                    <textarea name="message" onFocus="if (this.value == 'Текст') this.value = '';" onBlur="if (this.value == '') this.value = '';"></textarea>
                                    <span class="field-validation-valid" data-valmsg-for="Message" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-default" value="Send" />
                                </div>
                            </div>
                        </div>
                    </form>                <div class="g-recaptcha" data-sitekey="6LdYZycUAAAAAItvfYSHPH40D-8bOttJbGNACi_F"></div>
                </div>
                <div class="col-md-4">
                    <h4 class="classic-title"><span>Our locations</span></h4>
                    <p>We have three main offices in Kazakhstan - Atyrau, Aktau and Almaty. Our team has the international experience and allows us to offer customers the performance of work at all stages of production, from the early phases of the project until its final stage of commissioning and start-up. Feel free to submit your CV or any other inquires. We are open for partnership and collaboration</p>
                    <div class="hr1" style="margin-bottom:10px;"></div>
                    <ul class="icons-list">
                        <li><i class="icon-location-1"></i> <strong>Address: :</strong> Республика Казахстан, г.Алматы</li>
                        <li><a href="mailto:info@sitekcaspian.kz"><i class="icon-mail-1"></i> <strong>Email :</strong> info@sitekcaspian.kz</a></li>
                        <li><a href="tel:+77122272072"><i class="icon-mobile-1"></i> <strong>Phone :</strong> +77122272072</a></li>
                    </ul>

                    <!-- Divider -->
                    <div class="hr1" style="margin-bottom:15px;"></div>

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Working Hours</span></h4>

                    <!-- Info - List -->
                    <ul class="list-unstyled">
                        <li><i class="icon icon-time"></i> <strong>Monday-Friday</strong>- 9am to 6pm</li>
                        <li><i class="icon icon-time"></i> <strong>Saturday, Sunday</strong> - Closed</li>
                    </ul>
                </div>
            </div>

            <div class="hr1" style="margin-bottom:32px;"></div>
            <div class="row sidebar-page">
            </div>
        </div>
    </div>

</section><!-- //ABOUT -->
