
@{
    ViewData["Title"] = "SMS Рассылка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BREADCRUMBS -->
<section class="breadcrumbs_block clearfix parallax">
    <div class="container center">
        <h2><b>SMS Рассылка</b></h2>
        <p>Прагматичные IT решения для вашего бизнеса</p>
    </div>
</section><!-- //BREADCRUMBS -->
<!-- ABOUT -->
<section id="about">
    <!-- SERVICES -->
    <div class="services_block padbot40" data-appear-top-offset="-200" data-animated="fadeInUp">
        <!-- CONTAINER -->
        <div class="container">
            <!-- ROW -->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);">
                        <div class="service-icon" style="margin-top:-25px; margin-bottom: 20px; text-align:center;">
                            <img src="~/images/info.png">
                        </div>
                        <p><b>Массовая рассылка</b></p>
                        <span>Информирование об акциях, новостях, мероприятиях, приглашениях, отчетность о готовности работ</span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);">
                        <div class="service-icon" style="margin-top:-25px; margin-bottom: 20px; text-align:center;">
                            <img src="~/images/api-code.png">
                        </div>
                        <p><b>Шлюз для программ и API</b></p>
                        <span>Автоматизированная рассылка из ваших программ, сайтов и сервисов с помощью специальных программных протоколов API</span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);">
                        <div class="service-icon" style="margin-top:-25px; margin-bottom: 20px; text-align:center;">
                            <img src="~/images/check.png">
                        </div>
                        <p><b>Проверка доступности номеров</b></p>
                        <span>Проверка списков и одиночных номеров на доступность абонентов и чистка баз данных от неактуальных номеров</span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);">
                        <div class="service-icon" style="margin-top:-25px; margin-bottom: 20px; text-align:center;">
                            <img src="~/images/voice-reply.png">
                        </div>
                        <p><b>Голосовые рассылки</b></p>
                        <span>Рассылка голосовых сообщений в виде входящих звонков вашим партнерам, клиентам и работникам с помощью специального веб-интерфейса</span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);">
                        <div class="service-icon" style="margin-top:-25px; margin-bottom: 20px; text-align:center;">
                            <img src="~/images/phone-confirm.png">
                        </div>
                        <p><b>Отправка кодов</b></p>
                        <span>Рассылка цифровых кодов для подтверждения определенных операций с помощью телефонного номера во входящем звонке</span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);">
                        <div class="service-icon" style="margin-top:-25px; margin-bottom: 20px; text-align:center;">
                            <img src="~/images/subscribe.png">
                        </div>
                        <p><b>Автоподписка на рассылки</b></p>
                        <span>Легкий сбор и пополнение базы абонентов. Клиенты смогут самостоятельно подписываться и отписываться от рассылок</span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);">
                        <div class="service-icon" style="margin-top:-25px; margin-bottom: 20px; text-align:center;">
                            <img src="~/images/mail-reply.png">
                        </div>
                        <p><b>Получение СМС и звонков</b></p>
                        <span>Прием и обработка СМС и звонков от абонентов на федеральные номера</span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);">
                        <div class="service-icon" style="margin-top:-25px; margin-bottom: 20px; text-align:center;">
                            <img src="~/images/phone-confirm.png">
                        </div>
                        <p><b>Виртуальные номера</b></p>
                        <span>Подключение федерального виртуального номера для приема СМС. Такие номера работают без использования SIM-карт и напрямую. передаются операторами в наш сервис по интернету</span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);">
                        <div class="service-icon" style="margin-top:-25px; margin-bottom: 20px; text-align:center;">
                            <img src="~/images/sim-card.png">
                        </div>
                        <p><b>SIM-хостинг</b></p>
                        <span>В отличие от виртуальных номеров можно получать сообщения от интернет-сервисов, банков и платежных систем, которые используют для отправки буквенные имена</span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 margbot30">
                </div>
            </div><!-- //ROW -->
        </div><!-- //CONTAINER -->
    </div><!-- //SERVICES -->
</section><!-- //ABOUT -->
<!-- CLEAN CODE -->
<div class="cleancode_block">
    <!-- CONTAINER -->
    <div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">
        <!-- CASTOM TAB -->
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active clearfix" id="tab1">
                <p class="title"><b>SMS</b> Рассылка</p>
                <span>Один из самых удобных и быстрых способов общения между вами и клиентами. Скорость, адресность, мощност.</span>
            </div>
            <div class="tab-pane fade clearfix" id="tab2">
                <p class="title"><b>SMS</b> Реклама</p>
                <span>Идеально подходит для случаев, когда требуется рассылка SMS не по базе старых клиентов, а для привлечения новых</span>
            </div>
            <div class="tab-pane fade clearfix" id="tab3">
                <p class="title"><b>SMS</b> Акции</p>
                <span>Проведения всевозможных акций (найди код на продукте, отправь его по SMS и получи приз). Стимулирование покупательского спроса.</span>
            </div>
            <div class="tab-pane fade clearfix" id="tab4">
                <p class="title"><b>SMS</b> Прием</p>
                <span>Услуга, позволяющая Вам принимать SMS сообщения от Ваших клиентов. Двусторонний канал связи с вашими клиентами.</span>
            </div>
            <div class="tab-pane fade clearfix" id="tab5">
                <p class="title"><b>SMS</b> Вложение</p>
                <span>Добавьте к Вашей смс вложение в виде файла, брошюры, картинки, видео, купона или ссылки на сайт. Получите преимущество электронной почты без каких-либо дополнительных затрат.</span>
            </div>
        </div>
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a class="i1" href="#tab1" data-toggle="tab"><i></i><span>SMS Рассылка</span></a></li>
            <li><a class="i2" href="#tab2" data-toggle="tab"><i></i><span>SMS Реклама</span></a></li>
            <li><a class="i3" href="#tab3" data-toggle="tab"><i></i><span>SMS Акции</span></a></li>
            <li><a class="i4" href="#tab4" data-toggle="tab"><i></i><span>SMS Прием</span></a></li>
            <li><a class="i5" href="#tab5" data-toggle="tab"><i></i><span>SMS Вложение</span></a></li>
        </ul><!-- CASTOM TAB -->
    </div><!-- //CONTAINER -->
</div><!-- //CLEAN CODE -->
<!-- ABOUT -->
<section id="about">

    <!-- PROJECTS -->
    <section id="projects" class="padbot20">
        <!-- CONTAINER -->
        <div class="container">
            <h2><b>Наши</b> Проекты</h2>
        </div><!-- //CONTAINER -->

        <div class="projects-wrapper" data-appear-top-offset="-200" data-animated="fadeInUp">
            <!-- PROJECTS SLIDER -->
            <div class="owl-demo owl-carousel projects_slider">
                <!-- work1 -->
                <div class="item">
                    <div class="work_item">
                        <div class="work_img">
                            <img src="~/images/works/1.jpg" alt="" />
                            <a class="zoom" href="~/images/works/1.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="work_description">
                            <div class="work_descr_cont">
                                <a href="portfolio-post.html">Ginger Beast</a>
                                <span>17 March, 2041</span>
                            </div>
                        </div>
                    </div>
                </div><!-- //work1 -->
                <!-- work2 -->
                <div class="item">
                    <div class="work_item">
                        <div class="work_img">
                            <img src="~/images/works/2.jpg" alt="" />
                            <a class="zoom" href="~/images/works/2.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="work_description">
                            <div class="work_descr_cont">
                                <a href="portfolio-post.html">Ginger Beast</a>
                                <span>17 March, 2041</span>
                            </div>
                        </div>
                    </div>
                </div><!-- //work2 -->
                <!-- work3 -->
                <div class="item">
                    <div class="work_item">
                        <div class="work_img">
                            <img src="~/images/works/3.jpg" alt="" />
                            <a class="zoom" href="~/images/works/3.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="work_description">
                            <div class="work_descr_cont">
                                <a href="portfolio-post.html">Ginger Beast</a>
                                <span>17 March, 2041</span>
                            </div>
                        </div>
                    </div>
                </div><!-- //work3 -->
                <!-- work4 -->
                <div class="item">
                    <div class="work_item">
                        <div class="work_img">
                            <img src="~/images/works/4.jpg" alt="" />
                            <a class="zoom" href="~/images/works/4.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="work_description">
                            <div class="work_descr_cont">
                                <a href="portfolio-post.html">Ginger Beast</a>
                                <span>17 March, 2041</span>
                            </div>
                        </div>
                    </div>
                </div><!-- //work4 -->
                <!-- work5 -->
                <div class="item">
                    <div class="work_item">
                        <div class="work_img">
                            <img src="~/images/works/5.jpg" alt="" />
                            <a class="zoom" href="~/images/works/5.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="work_description">
                            <div class="work_descr_cont">
                                <a href="portfolio-post.html">Ginger Beast</a>
                                <span>17 March, 2041</span>
                            </div>
                        </div>
                    </div>
                </div><!-- //work5 -->
                <!-- work6 -->
                <div class="item">
                    <div class="work_item">
                        <div class="work_img">
                            <img src="~/images/works/6.jpg" alt="" />
                            <a class="zoom" href="~/images/works/6.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="work_description">
                            <div class="work_descr_cont">
                                <a href="portfolio-post.html">Ginger Beast</a>
                                <span>17 March, 2041</span>
                            </div>
                        </div>
                    </div>
                </div><!-- //work6 -->
                <!-- work7 -->
                <div class="item">
                    <div class="work_item">
                        <div class="work_img">
                            <img src="~/images/works/7.jpg" alt="" />
                            <a class="zoom" href="~/images/works/7.jpg" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                        <div class="work_description">
                            <div class="work_descr_cont">
                                <a href="portfolio-post.html">Ginger Beast</a>
                                <span>17 March, 2041</span>
                            </div>
                        </div>
                    </div>
                </div><!-- //work7 -->
            </div><!-- //PROJECTS SLIDER -->
        </div>

        <!-- OUR CLIENTS -->
        <div class="our_clients">
            <!-- CONTAINER -->
            <div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">
                <!-- ROW -->
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                        <img src="~/images/clients/1.jpg" alt="" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                        <img src="~/images/clients/2.jpg" alt="" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                        <img src="~/images/clients/3.jpg" alt="" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                        <img src="~/images/clients/4.jpg" alt="" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                        <img src="~/images/clients/5.jpg" alt="" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                        <img src="~/images/clients/6.jpg" alt="" />
                    </div>
                </div><!-- //ROW -->
            </div><!-- CONTAINER -->
        </div><!-- //OUR CLIENTS -->
    </section><!-- //PROJECTS -->
</section><!-- //ABOUT -->