
@{
    ViewData["Title"] = "SMS_Dispatching";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- HOME -->
<section id="home" class="padbot0">
    <!-- TOP SLIDER -->
    <div class="flexslider top_slider">
        <ul class="slides">
            <li class="slide1">
                <div class="flex_caption1">
                    <p class="title1 captionDelay2 FromTop">Компания</p>
                    <p class="title2 captionDelay4 FromTop">Kcell</p>
                    <p class="title3 captionDelay6 FromTop">Solutions</p>
                    <p class="title4 captionDelay7 FromBottom">Помогаем нашим клиентам достигать больших результатов с помощью IT систем.</p>
                </div>
                <a class="slide_btn FromRight" href="javascript:void(0);">Подробнее</a>
            <li class="slide2">
                <div class="flex_caption1">
                    <p class="title1 captionDelay6 FromLeft">Компания</p>
                    <p class="title2 captionDelay4 FromLeft">IT</p>
                    <p class="title3 captionDelay2 FromLeft">Партнер</p>
                    <p class="title4 captionDelay7 FromLeft">Мы поставляем программное обеспечение от мировых производителей и лидеров в своей сфере</p>
                </div>
                <a class="slide_btn FromRight" href="javascript:void(0);">Read More</a>
            </li>
        </ul>
        <!-- VIDEO BACKGROUND -->
        <a name="P2" class="player" id="P2" data-property="{videoURL:'HDOjxwjqCxI',containment:'.top_slider',autoPlay:true, mute:true, startAt:0, opacity:1}"></a>
        <!-- //VIDEO BACKGROUND -->
    </div><!-- //TOP SLIDER -->
</section><!-- //HOME -->
<!-- SERVICES -->
<div class="services_block padbot40" data-appear-top-offset="-200" data-animated="fadeInUp">
    <!-- CONTAINER -->
    <div class="container">
        <!-- ROW -->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
                <a class="services_item" href="javascript:void(0);">
                    <p><b>Программное</b> Обеспечение</p>
                    <span>Мы поставляем ПО от международных лидеров рынка в сегменте продуктивности, а таже защиты данных</span>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
                <a class="services_item" href="javascript:void(0);">
                    <p><b>SMS</b> Рассылка</p>
                    <span>Мы предлагаем надежный и быстрый сервис SMS рассылок по самым выгодным условиям</span>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
                <a class="services_item" href="javascript:void(0);">
                    <p><b>Трекинг </b> Автотранспорта</p>
                    <span>Наши системы трекинга автотранспорта применяют самые высокоточные системы.</span>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
            </div>
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
</div><!-- //SERVICES -->
<!-- CLEAN CODE -->
<div class="cleancode_block">
    <!-- CONTAINER -->
    <div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">
        <!-- CASTOM TAB -->
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active clearfix" id="tab1">
                <p class="title"><b>Скорость</b> Внедрения</p>
                <span>Мы стараемся сделать очень качественный продукт, поэтому наш сервис очень аккуратный и чистый. Независимо от выбора Вы можете дополнить или изменить план по своему вкусу..</span>
            </div>
            <div class="tab-pane fade clearfix" id="tab2">
                <p class="title"><b>Постоянная</b> Поддержка</p>
                <span>Мы работаем постоянно и безотказно помогаем нашим клиентам решать сложности возникающие в ходе их работы</span>
            </div>
            <div class="tab-pane fade clearfix" id="tab3">
                <p class="title"><b>Любые платформы</b></p>
                <span>Наши системы работают на любых устройствах и на любой операционной системе. Вам не придется подстраиваться под IT продукты</span>
            </div>
            <div class="tab-pane fade clearfix" id="tab4">
                <p class="title"><b>Четкая документация</b></p>
                <span>Мы имеем четкую описанную документацию по любому продукту программного или аппаратному, так что любой заказчик легко поймет принципы работы наших систем</span>
            </div>
            <div class="tab-pane fade clearfix" id="tab5">
                <p class="title"><b>Качество</b></p>
                <span>Мы выполняем свою работу в сроки и качественно, мы стремимся максимально быстро решать Ваши бизнес проблемы.</span>
            </div>
        </div>
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a class="i1" href="#tab1" data-toggle="tab"><i></i><span>Скорость внедрения</span></a></li>
            <li><a class="i2" href="#tab2" data-toggle="tab"><i></i><span>Постоянная поддержка</span></a></li>
            <li><a class="i3" href="#tab3" data-toggle="tab"><i></i><span>Любые устройства</span></a></li>
            <li><a class="i4" href="#tab4" data-toggle="tab"><i></i><span>Документация</span></a></li>
            <li><a class="i5" href="#tab5" data-toggle="tab"><i></i><span>Качество</span></a></li>
        </ul><!-- CASTOM TAB -->
    </div><!-- //CONTAINER -->
</div><!-- //CLEAN CODE -->