/* Back to top button */
#back-to-top {
    position: fixed;
    z-index: 999;
    display: none;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
}

    #back-to-top i {
        width: 50px;
        height: 50px;
        display: block;
        color: #fff;
        background: #333333;
        text-align: center;
        font-size: 16px;
        line-height: 50px;
        border-radius: 5px;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -ms-transition: .3s all;
        -o-transition: .3s all;
        transition: .3s all;
    }

        #back-to-top i:hover {
            background: #000;
        }

#abt_sec {
    padding: 70px 0px 0px 0px;
}
.title_sec {
    margin: 0 auto;
    padding: 0 0 25px 0;
    text-align: center;
}

    .title_sec h2 {
        color: #606060;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

.abt {
    margin: 0 auto;
    text-align: center;
}

.abt p {
    font-size: 16px;
    color: #666;
}

.title_sec p {
    display: block;
    padding-bottom: 9px;
    font-weight: 300;
    font-size: 20px;
    color: #666;
}